altair
bezier
black
dash
folium
httpx
hypertools
ipykernel
ipython
ipywidgets
jupyter_client
jupyter_core
matplotlib
matplotlib-inline
mypy-extensions
nbformat
numpy
openpyxl==3.0.9
packaging
pandas
plotly
ppscore
seaborn
scikit-learn
tqdm
wordcloud
